:root {
    --color-coral: #FF7F50;
    --color-background: #FFF8DC;
    --color-red: #ff3400;
    --color-headings: #8B0000;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

/* Typography */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--color-background);
}

h1, h2, h3 {
    line-height: 1.1;
    color: var(--color-headings)
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
}

p {
}

.list {
    list-style-type: none;
}

/* buttons */

.btn {
    border-radius: 20px;
    padding: 1rem;
    outline: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 30%;
    border: 2px solid white;
    text-decoration: none;
}

.btn-red {
    color: white;
    background-color: var(--color-red);
}

.btn-red:hover {
    background-color: var(--color-background);
}

/* images */

.image__pizzeria {
    width: 10rem;
}

/* navigation */

.nav {
    display: flex;
    background-color: #FF7F50;
    justify-content: center;
}

.nav > a {
    margin-top: 1rem;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.navbar__item > a{
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--color-headings);
    transition: color 0.3s;
}
.navbar__item > a:hover {
    cursor: pointer;
    color: white;
}

/* About us*/

.about {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.about__header {
    margin-bottom: 1rem;
}

.about__paragraph {
    margin: 0 30rem;
    padding-bottom: 2rem;
}

/* footer */

.footer {
    width: 100%;
    height: 5%;
    background-color: var(--color-coral);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.footer__paragraph {
    font-size: 1.5rem;
    color: var(--color-headings);
}

/* menu */
.menu {
    border-bottom: 1px solid var(--color-coral);
    margin: 0 30rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.menu__item {
    color: var(--color-headings);
    margin: 3rem;
}

.menu__list {
    list-style-type: none;
}

.headers {
    margin-bottom: 2rem;
    text-align: center;
}

.headersOne {
    border-bottom: 2px solid var(--color-coral);
    margin: 0 30rem;
}

.menu__prices {

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-row: 100px 100px 100px;
    margin-top: 2rem;
    justify-content: space-between;
    color: var(--color-headings);
}



/* Job Aplication */

form {
    width: 100%;
    padding: 2rem;
}

.input {

display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.input__first {

}




