:root {
    --color-coral: #FF7F50;
    --color-background: #FFF8DC;
    --color-red: #ff3400;
    --color-headings: #8B0000;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

/* Typography */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--color-background);
}

/* Headers */

h1, h2, h3 {
    line-height: 1.1;
    color: var(--color-headings)
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
}

.headers {
    text-align: center;
}

.headers__one {
    border-bottom: 2px solid var(--color-coral);
    margin: 2rem 30rem;
}

.container {
    position: relative;
}

p {
}

.list {
    list-style-type: none;
}

/* Icon */

.icon {
    width: 40px;
    height: 40px;
}


.icon-container {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: var(--color-background);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* buttons */

.btn {
    border-radius: 20px;
    padding: 1rem;
    outline: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 30%;
    border: 2px solid white;
    text-decoration: none;
}

.btn-red {
    color: white;
    background-color: var(--color-red);
}

.btn-red:hover {
    background-color: var(--color-background);
}

/* images */

.image__pizzeria {
    width: 10rem;
}

/* navigation */

.nav {
    display: flex;
    background-color: #FF7F50;
    justify-content: center;
}

.nav > a {
    margin-top: 1rem;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.navbar__item > a {
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--color-headings);
    transition: color 0.3s;
}

.navbar__item > a:hover {
    cursor: pointer;
    color: white;
}

/* About us*/

.about {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.about__header {
    margin-bottom: 1rem;
}

.about__paragraph {
    margin: 0 30rem;
    padding-bottom: 2rem;
}

/* Collapsible */

.collapsible {
    background-color: var(--color-coral);
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* footer */

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background: var(--color-coral);
}

.footer .container {

}

.footer__paragraph {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--color-headings);
}

/* menu */
.menu-pizza{
    border-bottom: 1px solid var(--color-coral);
    margin: 0 30rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.menu-toppings {
    margin: 2rem;
    display: grid;
    grid-template: 100px / repeat(5, auto);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.menu__header {
    margin: 0;
    grid-column: 1 / 6;
}

.menu__item {
    color: var(--color-headings);
    margin-left: 3rem;
}

.menu__list {
    list-style-type: none;
}



.menu__prices {
    width: 100%;
    display: grid;
    grid-template-rows: 12.5rem repeat(2, 5rem);
    grid-template-columns: 20fr repeat(2, 20fr) 30fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: var(--color-headings);
}

.menu__image__small {
    grid-column: 2;
    width: 70px;
    height: 70px;
}

.menu__image__medium {
    width: 100px;
    height: 100px;
}

.menu__image__large {
    width: 125px;
    height: 125px;
}

.breads {
    font-size: 3rem;
    display: grid;
    grid-template-columns: 50%;
    grid-template-row: repeat(4, 200px);
    justify-items: left;
    align-items: center;
    justify-content: center;
    align-content: center;
    row-gap: 1rem;
}


.bread__paragraph {
    color: var(--color-body);
    font-size: 1.5rem;
}

/* Job Aplication */

form {
    width: 100%;
    padding: 2rem;
}

.input {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.input__first {

}




