<nav class="nav collapsible ">
  <a><img class="logo" src="images/logo.png" alt=""></a>
  <a><i class="fas fa-align-justify nav__toggler"></i></a>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="index.html">Home</a></li>
    <li class="nav__item"><a class="navbar__a" href="menu.html">Menu</a></li>
    <li class="nav__item"><a class="navbar__a" href="jobAplication.html">Job Aplication</a></li>
    <li class="nav__item"><a class="navbar__a" href="#">Speciality Pizzas</a></li>
    <li class="nav__item"><a class="navbar__a" href="#">Location</a></li>
  </ul>
</nav>